body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(211, 203, 193);
}

a {
	font-size: large;
}
img {
	overflow: hidden;
}
.mb-3 {
	top: 10%;
	background-image: url('../../Image/background.jpg');
	background-size: cover;
}
.project {
	top: 20%;
	position: absolute;
}
