.font-style {
  color: black;
  font-family: "Oleo Script Swash Caps", cursive;
}
.card {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.all-img {
  float: right;
}
.box {
  float: left;
}

.clear-fix::after {
  content: "";
  clear: both;
  display: table;
}
