body {
	background-color: rgb(211, 203, 193);
}
.h1 {
	margin-top: 40px;
}
a {
	color: white;
}
img {
	overflow: hidden;
}
.project-0 {
	overflow: hidden;
	width: 60%;
	position: absolute;
	margin-top: 15%;
	margin-bottom: 20px;
	margin-right: 10px;
	margin-left: 5%;
}
.project-title-0 {
	overflow: hidden;
	position: absolute;
	color: black;
	top: 30%;
	left: 42%;
}
.line-0 {
	border: 5px solid red;
	border-radius: 5px;
	
}

.project-1 {
	overflow: hidden;
	margin-top: 57%;
	float: right;
	display: flex;
	right: 5%;
	position: absolute;
}
.project-title-1 {
	overflow: hidden;
	position: absolute;
	top: 115%;
	left: 5%;
}
.line-1 {
	border: 5px solid red;
	border-radius: 5px;
	width: 60%;
	float: left;
	
}
.project-2 {
	overflow: hidden;
	margin-top: 99%;
	float: left;
	display: flex;
	margin-left: 5%;
	position: absolute;
}

.project-title-2 {
	overflow: hidden;
	position: absolute;
	top: 198%;
	left: 42%;
}
.line-2 {
	border: 5px solid red;
	border-radius: 5px;
	width: 100%;
	float: right;
	
}

.project-3 {
	float: right;
	margin-top: 141%;
	overflow: hidden;
	display: flex;
	right: 5%;
	position: absolute;
}

.project-title-3 {
	overflow: hidden;
	position: absolute;
	top: 285%;
	left: 5%;
}
.line-3 {
	border: 5px solid red;
	border-radius: 5px;
	width: 60%;
	float: left;
	
}
