.card-text {
	overflow: hidden;
	color: black;
	font-size: x-large;
	font-family: 'Cormorant Garamond', serif;
	float: right;
}

img {
	float: left;
}
.card {
	top: 218px;
	padding: 20px 12px;
	width: 80%;
}
.pro-header {
	overflow: hidden;
	top: 891px;
	background: #1abc9c;
	color: white;
	width: 100%;
}